body {
  margin: 0px;
  padding: 0px;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
}

.tisch-title {
  padding: 50px 0 0;
  text-align: center;
  letter-spacing: 2px;
}

.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 3px solid #33b5e5;
  margin: 0 auto;
}

.form-module p {
  margin: 20px 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
}

.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}

.form-module input[type=submit] {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  border-radius: 25px;
  padding: 10px 15px;
  color: #ffffff;
  outline: none;
}

.form-module input[type=submit]:hover {
  background: #178ab4;
}

.form-module select {
  width: 100%;
  border: 1px solid #d9d9d9;
    margin-bottom: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  border-radius: 25px;
  outline: none;
}
